
<nav class="Menu Menu-{{ type }} {% if class is defined %}{{ class }}{% endif %}">
  <ul class="Menu_itemsContainer">
    {% for item in menu %}
      {# Remove separators in footer #}
      {% if type != 'footer' or item.type != 'separator' %}
        {% set isCurrent = item.href == menuCurrentURL %}
        <li class="Menu_item Menu_item-{{ item.type }} {% if isCurrent %}Menu_item-current{% endif %}">
          {% if item.type == 'page' %}
            {# Remove elements not in footer #}
            {% if type != 'footer' or item.footer %}
              <a href="{{ item.href }}" title="{{ item.title }}" class="{% if linkClass is defined %}{{ linkClass }}{% endif %}">
                {% if type == 'desktop' %}
                  <span class="Menu_itemDash"></span>
                {% endif %}
                {{ item.title }}
              </a>
            {% endif %}
          {% endif %}
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</nav>