
{#<pre style="font-size: 12px">{{ dump(imageSizes) }}</pre>#}
{#<pre style="font-size: 12px">{{ dump(image) }}</pre>#}


{% set classes = 'ResponsiveImage ' %}
{% if class is defined %}
  {% set classes = classes ~ class ~ ' '%}
{% endif %}
{% if direction is defined %}
  {% set classes = classes ~ 'ResponsiveImage-{{ direction }} '%}
{% endif %}

{% set srcset = '' %}
{% set sizes = '' %}

{% if image is not string %}

  {# Get all avalable sources #}
  {% for width, size in imageSizes %}
    {% if size != 'thumbnail' and size != '' %}
      {% if image.sizes[ size ] is defined %}
        {% set srcset = srcset ~ image.sizes[ size ] ~ ' ' ~ width ~ "w, " %}
      {% endif %}
    {% endif %}
  {% endfor %}

  {# Responsive ratios to available sources #}
  {% set sizes = '
    (max-width: 767px) 100vw,
    (min-width: 768px) and (max-width: 1023px) 80vw,
    (min-width: 1024px) and (max-width: 1680) 60vw,
    100vw
  ' %}
{% else %}
  {% set image = {
    url: image,
    width: 4,
    height: 3
  } %}
  {% set classes = classes ~ 'ResponsiveImage-forcedSize ' %}
{% endif %}

<figure
  class="{{ classes }}"
  data-ratio="{{ image.height / image.width }}"
>
  <div
    class="ResponsiveImage_container"
    {% if fixedSize is not defined or not fixedSize %}
      {# Padding hack, auto height from image ratio to avoid layout shifts when image loads #}
      style="padding-bottom: {{ (image.height / image.width) * 100 }}%"
    {% endif %}
  >
    {% if image.url is string and image.url != '' %}
      <img
        class="ResponsiveImage_img"
        srcset="{{ srcset }}"
        sizes="{{ sizes }}"
        src="{{ image.url }}"
        alt="{% if alt is defined %}{{ alt }}{% else %}{{ image.alt }}{% endif %}"
        loading="lazy"
      />
    {% endif %}
  </div>
  {% if label is defined and label is not empty and label.content is defined %}
    <figcaption class="ResponsiveImage_label ResponsiveImage_label-{{ label.alignment }}">
      {{ label.content|splitter('br', 'span', false, 'AnimatedWord', false) }}
    </figcaption>
  {% endif %}
</figure>

