{% set class = "IntroductionBlock" %}
{% if bigTitle is defined and bigTitle %}
  {% set class = class ~ " IntroductionBlock-bigTitle" %}
{% endif %}
{% if offset is defined and offset %}
  {% set class = class ~ " IntroductionBlock-offset" %}
{% endif %}
{% if newsMode is defined and newsMode %}
  {% set class = class ~ " IntroductionBlock-newsMode" %}
{% endif %}
{% set class = class ~ " IntroductionBlock-" ~ data.imageWidth ~ "ImageWidth" %}
{% if data.sidebarAlign is defined and data.sidebarAlign %}
  {% set class = class ~ " AppView_sidebarAligned" %}
{% endif %}
{% if data.image is not defined %}
  {% set class = class ~ " IntroductionBlock-noImage" %}
{% endif %}
<div class="{{ class }}">
  {% if data.image is defined %}
    {% include "partials/components/responsive-image.twig" with {
      image: data.image,
      class: "IntroductionBlock_image",
      label: data.label
    } %}
  {% endif %}
  <div class="IntroductionBlock_rightContainer">
    {% if data.title is defined %}
      <h1 class="IntroductionBlock_title">
        <span class="IntroductionBlock_titleDash">&mdash;</span>
        <span class="IntroductionBlock_titleContent">{{ data.title }}</span>
        <span class="IntroductionBlock_titleDash">&mdash;</span>
      </h1>
    {% endif %}
    {% if categories is defined %}
      <div class="IntroductionBlock_categories">
        <h4 class="IntroductionBlock_categoriesTitle">{{ dictionary('news.categories') }}</h4>
        {% set hasSelected = false %}
        {% for category in categories %}
          {% if page.currentCategory == category.name %}
            {% set hasSelected = true %}
          {% endif %}
        {% endfor %}
        {% for category in categories %}
          {% set isSelected = ( page.currentCategory == category.name ) %}
          {% set all = (not hasSelected and loop.index == 1) %}
          <a
            class="SubLink IntroductionBlock_category {% if isSelected %}IntroductionBlock_category-selected SubLink-underline{% endif %} {% if all %}IntroductionBlock_category-all{% endif %}"
            href="{{ category.href }}"
            title="{{ category.name }}"
          >{{ category.name }}</a>
          <span class="IntroductionBlock_categorySeparator">/</span>
        {% endfor %}
      </div>
    {% endif %}
    {% if backLink is defined %}
      <a href="{{ backLink }}" class="SubLink SubLink-underline IntroductionBlock_backLink">
        {{ dictionary('news.back') }}
      </a>
    {% endif %}
  </div>

  {% if page.sidebar is defined and page.sidebar is not null %}
    <div class="IntroductionBlock_sidebar">
      {% include "partials/blocks/block-sidebar.twig" %}
    </div>
  {% endif %}

</div>


{% if data.introText is defined %}
  {% include "partials/blocks/flexible-article-title.twig" with {
    item : {
      content: data.introText,
      size: 'medium'
    }
  }%}
{% endif %}
