

{% if page.contact is not defined or not page.contact %}
  {# This div marks limit to contact button #}
  <div class="Flexible_spacer"></div>
  <div class="AppView_contactLimit"></div>
{% else %}
  <div class="ContactBlock">
    {# We need contactLimit inside ContactBlock to allow singling (+) CSS rules applying to .ContactBlock #}
    <div class="AppView_contactLimit"></div>
    <div class="ContactBlock_container">
      <h5 class="ContactBlock_title">{{ page.contact.title }}</h5>
      <div class="ContactBlock_action">
        <a href="{{ page.contact.button.href }}" class="ContactBlock_button SquareButton SquareButton-giant SquareButton-bright">
          <span>{{ page.contact.button.text }}</span>
          <span>{{ page.contact.button.text }}</span>
        </a>
        {% if page.contact.mention is defined and page.contact.mention %}
          <div class="ContactBlock_mention">
            {{ page.contact.mention }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endif %}