

<div class="FlexibleTypeBlocBlockSeparator ArticleBlock"></div>
<div class="FlexibleTypeBlocBlock ArticleBlock" id="bloc-{{ item.id }}">

  {% if item.title is not null and item.title is not empty %}
    <h4 class="FlexibleTypeBlocBlock_title">{{ item.title }}</h4>
  {% endif %}
  {% if item.content is not null and item.content is not empty %}
    <div class="FlexibleTypeBlocBlock_content">{{ item.content|raw }}</div>
  {% endif %}
  {% if item.calling is not null and item.calling is not empty %}
    <p class="FlexibleTypeBlocBlock_calling">
      {% for callingLine in item.calling %}
        <span class="FlexibleTypeBlocBlock_callingLine">{{ callingLine|raw }}</span>
      {% endfor %}
    </p>
  {% endif %}
  {% if item.image is defined and item.image is not null and item.image != false %}
    {% include "partials/components/responsive-image.twig" with {
      image: item.image,
      class: "FlexibleTypeBlocBlock_image"
    } %}
  {% endif %}

  {% if item.link is defined %}
    {% if item.link.type == 'button' %}
      <a href="{{ item.link.href }}" class="FlexibleTypeBlocBlock_button SquareButton SquareButton-green">
        <span>{{ item.link.text }}</span>
        <span>{{ item.link.text }}</span>
      </a>
    {% else %}
      <a href="{{ item.link.href }}" class="FlexibleTypeBlocBlock_link SubLink SubLink-underline">
        {{ item.link.text }}
      </a>
    {% endif %}
  {% endif %}
</div>