


<div class="BigBlock FlexibleTestimonialBlock FlexibleTestimonialBlock-{{ item.position }} FlexibleTestimonialBlock-{{ item.format }}">
  <div class="FlexibleTestimonialBlock_container">

    {% include "partials/components/responsive-image.twig" with {
      image: item.image,
      class: "FlexibleTestimonialBlock_image"
    } %}

    <div class="FlexibleTestimonialBlock_content">
      {% if item.title is not empty %}
        <h2 class="FlexibleTestimonialBlock_title">{{ item.title }}</h2>
      {% endif %}
      {% if item.subTitle is not empty %}
        <h3 class="FlexibleTestimonialBlock_subTitle">{{ item.subTitle }}</h3>
      {% endif %}
      {% if item.description is not empty %}
        <p class="FlexibleTestimonialBlock_description">{{ item.description }}</p>
      {% endif %}
      {% if item.link is defined %}
        <a href="{{ item.link.href }}" class="FlexibleTestimonialBlock_link SubLink SubLink-underline">
          {{ item.link.text }}
        </a>
      {% endif %}
    </div>

  </div>
</div>