{% set classes = '' %}

{% if item.highlight and noHighlight is not defined %}
	{% set classes = classes ~ " NewsItem-highlight" %}
{% endif %}
{% if modifier is defined%}
	{% set classes = classes ~ " NewsItem-" ~ modifier %}
{% endif %}
{% if class is defined %}
	{% set classes = classes ~ " " ~ class %}
{% endif %}

<div class="NewsItem {{ classes }}">
	{% if linkOnImage is defined and linkOnImage and not item.highlight %}
		<a href="{{ item.href }}" title="{{ item.title }}">
	{% endif %}
    {% if item.image %}
      {% include "partials/components/responsive-image.twig" with {
        image: item.image,
        alt: item.title,
        class: "NewsItem_image",
        fixedSize: true
      } %}
    {% else %}
      <div class="NewsItem_image NewsItem_image-empty">
        <div class="ResponsiveImage_container"></div>
      </div>
    {% endif %}
	{% if linkOnImage is defined and linkOnImage %}
		</a>
	{% endif %}
	<div class="NewsItem_text">
		<div class="NewsItem_topContainer">
      <span class="NewsItem_date">{{ dictionary('news.date')|template({ date : item.date }) }}</span>
      <span class="NewsItem_topSeparator">&mdash;</span>
			<div class="NewsItem_categories">
				{% for category in item.categories %}
					{% if loop.index <= 2 %}
						<a href="{{ category.href }}" class="NewsItem_categoryLink SubLink">{{ category.name }}</a>
            <span class="NewsItem_categorySeparator">/</span>
					{% endif %}
				{% endfor %}
			</div>
		</div>
		<h4 class="NewsItem_title"><a href="{{ item.href }}" title="{{ item.title }}" class="">{{ item.title }}</a></h4>
		<p class="NewsItem_excerpt">{{ item.excerpt }}</p>
		<a href="{{ item.href }}" class="SubLink SubLink-underline NewsItem_link" title="{{ item.title }}">{{ dictionary['news.more'] }}</a>
	</div>
</div>