{% if pagination.pages|length == 0 %}
  <div class="Flexible_spacer"></div>
{% else %}
  <div class="Pagination FullBlock {% if not pagination.prev or not pagination.next %}Pagination-oneButton{% endif %}">
    <div class="Pagination_button Pagination_button-previous">
      {% if pagination.prev %}
        <a href="{{ pagination.prev.link }}" class="Pagination_link SubLink SubLink-parent">
          {{ dictionary('news.previous') }}
        </a>
        <a href="{{ pagination.prev.link }}" class="Pagination_arrow">
          {% include 'partials/components/arrow.svg.twig' %}
        </a>
      {% endif %}
    </div>
    <div class="Pagination_separator"></div>
    <div class="Pagination_button Pagination_button-next">
      {% if pagination.next %}
        <a href="{{ pagination.next.link }}" class="Pagination_link SubLink SubLink-parent">
          {{ dictionary('news.next') }}
        </a>
        <a href="{{ pagination.next.link }}" class="Pagination_arrow">
          {% include 'partials/components/arrow.svg.twig' %}
        </a>
      {% endif %}
    </div>
  </div>
{% endif %}
