<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
    <meta charset="{{ site.charset }}" />
    <meta http-equiv="x-ua-compatible" content="IE=Edge" />
    {% if viewport is defined %}
        <meta name="viewport" content="{{ viewport }}" />
    {% else %}
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0" />
    {% endif %}
    <title>{% spaceless %}
        {% set hasPageTitleTemplate = themeOptions.pageTitleTemplate is defined and themeOptions.pageTitleTemplate is not empty %}
        {% set hasPageTitle = pageData.title is defined and pageData.title is not empty %}
        {% if hasPageTitleTemplate and hasPageTitle %}
            {{
                themeOptions.pageTitleTemplate|template({
                    'site' : site.name,
                    'page' : pageData.title,
                })
            }}
        {% elseif not hasPageTitleTemplate and hasPageTitle %}
            {{ pageData.title }}
        {% else %}
            {{ site.name }}
        {% endif %}
    {% endspaceless %}</title>
    {# TODO : Meta description #}
    {# TODO : Twitter share #}
    {# TODO : Facebook share #}
    {# TODO : Favicon #}
    {# TODO : Advanced icons #}
    {# TODO : Manifest json ( add manifest.json -> wp-json ... in .htaccess #}
    {{ wp_head }}
    {% if user and user.show_admin_bar_front %}
        <link rel="stylesheet" href="{{ base }}themes/bowl/assets/minimalistic-adminbar.css" />
    {% endif %}
    {% for file in preloads %}
        <link rel="preload" href="{{ file.path }}" as="{{ file.as }}" crossOrigin="anonymous">
    {% endfor %}
    {% for resource in resources.head.styles %}
        <link rel="stylesheet" href="{{ base }}static/{{ resource }}?{{ version }}" />
    {% endfor %}
    {% for resource in resources.head.scripts %}
        <script async src="{{ base }}static/{{ resource }}?{{ version }}"></script>
    {% endfor %}
</head>
<body>
    {% include 'partials/layout/content.twig' ignore missing %}
    {{ wp_footer }}
    <script>
        window.__appData = {{ appData | json_encode(constant('JSON_NUMERIC_CHECK')) | raw }};
		{% if constant('BOWL_INJECT_PAGE_DATA_INTO_JAVSCRIPT') is defined and constant('BOWL_INJECT_PAGE_DATA_INTO_JAVSCRIPT') %}
            window.__pageData = {{ pageData | json_encode(constant('JSON_NUMERIC_CHECK')) | raw }};
		{% endif %}
        {% if appData.debug %}
        console.log( 'pageData', {{ pageData | json_encode(constant('JSON_NUMERIC_CHECK')) | raw }} );
        {% endif %}
    </script>
    {% for resource in resources.body.styles %}
        <link rel="stylesheet" href="{{ base }}static/{{ resource }}?{{ version }}" />
    {% endfor %}
    {% for resource in resources.body.scripts %}
        <script async src="{{ base }}static/{{ resource }}?{{ version }}"></script>
    {% endfor %}
    </body>
</html>